{% extends 'base.html' %}

{% block extra_title %} - Контактная информация{% endblock extra_title %}

{% block content %}
    <div class="d-flex flex-row justify-content-start border">
        <div class="col">
            <h4>Наши контакты:</h4>
            <p>
                Республика Казахстан, 050028, г. Алматы, ул. Гагарина, ст. 5<br>
                Телефон: 8 (727) 356 -10 - 60<br>
                E-mail: <a href="mailto: info@masyanya.kz">info@masyanya.kz</a>
            </p>
        </div>
    </div>
{% endblock content %}